jobs:
  include:
    - language: node_js
      node_js: 12.18.1
      install:
        - npm install
      script:
        - npm test
      
    - language: python
      python: 3.6
      install: |
        if [ -z "$TRAVIS_PULL_REQUEST_BRANCH" ]; then
          # pip3 install --extra-index-url http://$PYPI_USER:$PYPI_PASS@$PYPI_IP:$PYPI_PORT --trusted-host $PYPI_IP pm_cicd
          # using self library for testing instead
          pip3 install gitpython
        fi
      script: |
        if [ -z "$TRAVIS_PULL_REQUEST_BRANCH" ]; then
          python -c "from pm_cicd.exec import exec_deploy; exec_deploy()"
        fi

deploy:
  - provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    region: us-east-2
    app: Testing-CICD-Node
    env: TestingCicdNode-env
    bucket_name: elasticbeanstalk-us-east-2-405734297549
    bucket_path: Testing-CICD
    on:
      branch: gabe-test
      